
<ul>
    <h3><%- workout.name %></h3>
    <li><%- apiData.description %></li>
    <li><%= apiData.muscles.id %></li>
</ul>
<form action="/workouts/profile/<%= workout.id %>/show/?_method=DELETE" method="POST">
    <input type="submit" value="Remove from favorites">
</form>

<p>Personal Comments</p>
<ul>
    <% workout.comments.forEach(comment => { %>
        <li><%= comment.content %></li>
        <a href="/comments/<%= workout.id %>/<%= comment.id %>">Edit</a>
        <form action="/comments/<%= workout.id %>/<%= comment.id %>/?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
        </form>
    <% }) %>
</ul>

<form action="/comments/<%= workout.id %>" method="POST">
    <input type="text" name="content" id="content">
    
    <input type="submit" value="Add a comment">
</form>
